<app-navbar></app-navbar>
<div>
  <div class="flex items-center justify-between m-5">
    <p class="text-2xl font-semibold">Records</p>
    <div>
        <input
          type="file"
          id="hidden-button"
          class="hidden"
          (change)="onFileSelected($event)"
        />
        <button mat-stroked-button (click)="uploadFile()">Upload Fixed File</button>
      </div>
  </div>

  <div class="border-gray-200 border-t border-b border-l border-r rounded m-5">
    <table>
      @for (record of recordList; track record) {
        <div>
          <tr>
            @for (key of record.keys; track key){
              <td>{{ key }}</td>
            }
          </tr>
          <tr>
            @for (value of record.values; track value){
              <td>{{ value }}</td>
            }
          </tr>
        </div>
      } @empty{
      <div>No record has been parsed</div>
      }
    </table>
  </div>
</div>
