<div>
    <div>
        <p>
            <mat-toolbar class="flex items-center justify-between">
              <div class="text-3xl font-semibold">
                <span>Fixed File Parser</span>
              </div>
              <div>
                <button mat-button class="m-5" routerLink="/specification-files">Specification Files</button>
                <button mat-button class="m-5" routerLink="/fixed-files" >Fixed Files</button>
                <button mat-button class="m-5" routerLink="/records">Record</button>
              </div>
              <div>
                <span class="text-l">Hi, {{userId}}</span>
                <button mat-flat-button color="primary" class="m-5" (click)="logout()">Logout</button>
              </div>
            </mat-toolbar>
          </p>
    </div>
</div>