<div>
    <div>
        <p>
            <mat-toolbar class="flex items-center justify-between">
              <div class="text-3xl font-semibold">
                <span>Fixed File Parser</span>
              </div>
              <span class="example-spacer"></span>
              <div>
                <button mat-button class="m-5">Login</button>
                <button mat-flat-button color="primary" class="m-5">Register</button>
              </div>
            </mat-toolbar>
          </p>
    </div>
</div>